button { margin-left : 400px ; }
  button {
  width: 20em;
  height: 3em;
}
font { margin-left : 400px ; }
a {
  width: 20em;
  height: 3em;
}
header nav ul {
  display: flex;
justify-content: center;
border-top: 2px solid #7c5d48;
  border-bottom: 2px solid #7c5d48;
  background-color: rgba(255,255,255,0.42);
  padding: 12px 0px 10px;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  font-size: 22px;
  font-weight: bold;
  color: #7c5d48;
}
header nav ul li a:hover{
  text-decoration: underline double;
}
footer{
background-color: #523f2e;
  color: #ffffff;
  text-align: center;
  padding: 14px 10px 20px;
}
@media screen and (max-width: 640px){
  img {
  margin-left: 60px;
  }
  marquee {
  margin-left: 60px;
  }
}
