button { margin-left : 400px ; }
  button {
  width: 20em;
  height: 3em;
}
font { margin-left : 400px ;}
a {
  width: 20em;
  height: 3em;
}
<link rel="stylesheet" href="tablet.css"  media="(max-width:768px) and (min-width: 321px)">
